module <%= appModuleName %>.Home {
    'use strict';

    var home = angular.module('<%= appName %>.home');

    export class HomeController {
        static $inject = ['moment'];

        public msg : string;

        constructor(moment : moment.MomentStatic) {
           this.msg = 'Welcome home to <%= appModuleName %>! It is: ' + moment().format('LLLL');
        }
    }

    home.controller('homeController', HomeController);
}
