module <%= moduleNamePascalized %> {
    'use strict';

    var ngModule = angular.module('<%= moduleNameCamelized %>');

    export class <%= namePascalized %>DirectiveController {
        static $inject = <any>[];

        constructor() {
        }
    }

    ngModule.controller('<%= nameCamelized %>DirectiveController', <%= namePascalized %>DirectiveController);
}
